
/** Colors **/
$white: #f1f1f1;
$purple: #9B59B6;
$black: #222222;

/** Backgrounds **/
$bg-body: #1a1322;

/** Fonts **/
$primary-font: 'Poppins';
$heading-font: 'Ysabeau Infant';
$special-font: 'Soria';

$mobile-width: 600px;
$tablet-width: 1366px;
$laptop-width: 1780px;