
/** Colors **/
$white: #f1f1f1;
$purple: #9B59B6;

/** Backgrounds **/
$bg-body: #1a1322;

/** Fonts **/
$primary-font: 'Poppins';
$heading-font: 'Grandiflora One';

$mobile-width: 600px;
$tablet-width: 1366px;
$laptop-width: 1780px;