@use '../abstracts/' as *;

.result{
    &-property{
        &-card{
            width: 100%;
            height: auto;
            display: flex;
            gap: 10px;
            padding: 8px;
            background-color: $white;
            border-radius: 8px;
            &-image{
                width: 160px;
                flex: 1;
                max-height: 100px;
                img{
                    width: 120px;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    flex: 1;
                    border-radius: 5px;
                }
            }
            &-content{
                .card{
                    &-title{
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    &-address{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}