@use '../abstracts/' as *;

.search{
    width: 600px;
    height: 60vh;
    position: relative;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-wrapper{
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 1320px;
        @media screen and (max-width: 575px) {
            width: 100%;
        }
        @media screen and (min-width: 576px) {
            width: 540px;
        }
        @media screen and (min-width: 768px) {
            width: 720px;
        }
        @media screen and (min-width: 992px) {
            width: 960px;
        }
        @media screen and (min-width: 1200px) {
            width: 1140px;
        }
        @media screen and (min-width: 1400px) {
            width: 1320px;
        }
    }
    &.active{
        height: 85vh;
        position: fixed;
        bottom: 2rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        background: rgba(47, 47, 47, 0.356);
        box-shadow: 0 8px 32px 0 rgba(54, 37, 59, 0.37);
        backdrop-filter: blur( 8px );
        -webkit-backdrop-filter: blur(8px );
        width: 90vw;
        margin-inline: auto;
        padding: 20px;
        border-radius: 20px;
        overflow: hidden;
        @media screen and (max-width: 576px) {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            width: 720px;
        }
        @media screen and (max-width: 992px) {
            width: 960px;
        }
    }
    &-dates{
        background: rgba(47, 47, 47, 0.356);
        box-shadow: 0 8px 32px 0 rgba(54, 37, 59, 0.37);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 2px solid rgba(255, 255, 255, 0.473);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        max-height: 50px;
        width: 20%;
        &-inputs{
            .ant-picker-active-bar{
                background-color: $white;
            }
            .ant-picker-range-separator{
                svg{
                    fill: $white;
                }
            }
            .ant-picker-input{
                &-active{
                    border-bottom: 2px;
                }
                input{
                    color: $white !important;
                    text-align: center;
                    &::-webkit-input-placeholder{
                        color: #FFFFFF60;
                    }
                }
            }
        }
    }
    &-mapbox{
        width: 50px;
        height: 50px;
        border: 2px solid rgba(255, 255, 255, 0.473);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all .2s ease;
        }
    }
    &-container{
        background: rgba(47, 47, 47, 0.356);
        box-shadow: 0 8px 32px 0 rgba(54, 37, 59, 0.37);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 30px;
        border: 4px solid rgba(255, 255, 255, 0.473);
        max-height: 58px;
        overflow: hidden;
        align-items: center;
        transition: all .5s ease-in-out;
        max-width: 600px;
        width: 100%;
        &.active{
            align-items: flex-start;
            border-radius: 15px;
            border-width: 2px;
            max-height: 50px;
            width: 45%;
        }
    }
    &-guests{
        background: rgba(47, 47, 47, 0.356);
        box-shadow: 0 8px 32px 0 rgba(54, 37, 59, 0.37);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 2px solid rgba(255, 255, 255, 0.473);
        display: flex;
        border-radius: 15px;
        justify-content: space-between;
        align-items: center;
        width: calc(30% - 110px);
        padding-inline: 20px;
        color: $white !important;
        .ant-select-selection-item, .ant-select-arrow, .ant-select-single.ant-select-open .ant-select-selection-item{
            color: $white;
        }
    }
    &-box{
        width: 100%;
        height: 46px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-inline: 10px;
        flex: 1;
    }
    .icons{
        width: 30px;
        font-size: 1.5rem;
        color: $white;
    }
    &-placeholder{
        position: absolute;
        top: 12px;
        font-size: 1rem;
        font-family: $primary-font;
        color: $white;
        left: 50px;
        color: $white;
    }
    &-input{
        height: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        flex: 1;
        font-size: 1rem;
        font-family: $primary-font;
        color: $white;
        height: 1.2rem;
        margin-top: 3px;
        &::-webkit-input-placeholder{
            color: #c4c4c4;
        }
        &::-webkit-search-cancel-button{
            display: none;
        }
    }
    &-close{
        font-size: 40px;
        color: $white;
        margin-block: auto;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }
    &-results{
        left: 0;
        min-height: 100px;
        max-height: calc(100% - 20px);
        width: 100%;
        flex: 1;
        border-radius: 0 0 10px 10px;
        gap: 10px;
        display: flex;
        transform: scaleY(0);
        position: relative;
        padding-bottom: 6vh;
        margin-top: 20px;
        &.active{
            transform: scaleY(1);
        }
        &-filter{
            width: 20%;
        }
        &-properties{
            display: flex;
            padding-right: 10px;
            gap: 15px;
            height: auto;
            flex-direction: column;
            overflow-y: scroll;
            margin-right: 10px;
            flex: 1;
            transition: width .3s ease;
            &::-webkit-scrollbar{
                background-color: transparent;
                width: 8px;
                &-track{
                    width: 8px;
                    background-color: #ffffff00;
                }
                &-thumb{
                    width: 8px;
                    border-radius: 20px;
                    background-color: $white;
                }
            }
            &.active{
                width: 50%;
            }
        }
        &-map{
            width: 750px !important;
            height: 72vh !important;
            position: relative;
        }
    }
}