@use '../abstracts/' as *;

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    padding-block: 2vh;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: background-image .3s ease;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur( 0px );
    background-image: linear-gradient(to bottom, #00000090, #00000000);
    &.active{
        background-image: linear-gradient(to bottom, #000000C0, #00000000);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );

    }
    &-desktop{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        font-family: $primary-font;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $white;
        font-weight: 600;
        width: 30%;
    }
    &-menu{
        padding:2px 2px;
        border-radius: 30px;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba(37, 37, 37, 0.1);
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: fit-content;
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                color: $white;
                font-size: 0.9rem;
                line-height: 1.5rem;
                cursor: pointer;
                padding-inline: 20px;
                margin-right: -10px;
                border-radius: 30px;
                padding-block: 4px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
                &:last-child{
                    margin-right: 0 !important;
                }
            }
        }
    }
    &-user{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}

.subscribe{
    &-modal{
        h2{
            font-size: 2rem;
            font-family: $primary-font;
            color: #00b18d;
        }
        p{
            font-size: 1rem;
        }
        &.centered{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;
            gap: 10px;
        }
        &-form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            margin-top: 1.5rem;
            &-item{
                display: flex;
                flex-direction: column;
                gap: 10px;
                label{
                    font-size: 1rem;
                    font-family: $primary-font;
                }
                .email-input{
                    height: 40px;
                    padding-inline: 15px;
                    font-family: $primary-font;
                    font-size: 1rem !important;
                    outline: none;
                    border: 1px solid #33333350;
                    border-radius: 10px;
                }
                .phone-input{
                    height: 40px;
                    border: 1px solid #33333350;
                    border-radius: 10px;
                    &-inp{
                        background-color: transparent !important;
                        height: 38px !important;
                        width: 100% !important;
                        font-family: $primary-font;
                        font-size: 1rem !important;
                        border: none !important;
                        padding-left: 70px !important;
                    }
                    &-btn{
                        border-radius: 10px 0px 0px 10px !important;
                        width: 60px;
                        .selected-flag{
                            width: 58px !important;
                            padding-left: 20px !important;
                            border-radius: 10px 0px 0px 10px !important;
                        }
                    }
                }
            }
            &-button{
                button{
                    width: fit-content;
                    padding-inline: 20px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    height: 45px;
                    font-size: 1rem;
                    font-family: $primary-font;
                    background-color: $black;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
    }
}