@use '../abstracts/' as *;

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    padding-top: 2vh;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    &-desktop{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        font-family: $primary-font;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $white;
        font-weight: 600;
        width: 20%;
    }
    &-menu{
        padding:2px 2px;
        border-radius: 30px;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba(37, 37, 37, 0.1);
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: fit-content;
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                color: $white;
                font-size: 0.9rem;
                line-height: 1.5rem;
                cursor: pointer;
                padding-inline: 20px;
                margin-right: -10px;
                border-radius: 30px;
                padding-block: 4px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
                &:last-child{
                    margin-right: 0 !important;
                }
            }
        }
    }
    &-user{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}