@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;0,700;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
    font-family: 'Soria';
    src: url(../assets/fonts/soria-font.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}

body {
    font-family: $primary-font !important;
    line-height: 1.5;
    background-color: $bg-body;
    overflow: hidden;
}

.container{
    width: 1320px;
    margin-inline: auto;
    @media screen and (max-width: 575px) {
        width: 100%;
    }
    @media screen and (min-width: 576px) {
        width: 540px;
    }
    @media screen and (min-width: 768px) {
        width: 720px;
    }
    @media screen and (min-width: 992px) {
        width: 960px;
    }
    @media screen and (min-width: 1200px) {
        width: 1140px;
    }
    @media screen and (min-width: 1400px) {
        width: 1320px;
    }
}

.so{
    &-button{
        width: fit-content;
        box-sizing: border-box;
        padding: 8px 25px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: .9rem;
        border-radius: 30px;
        border: 1px solid $white;
        background-color: transparent;
        outline: none;
        color: $white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        gap: 5px;
        align-items: center;
        &:hover{
            background-color: $white;
            color: $black;
        }
        &.ghost{
            border: none;
            &:hover{
                background-color: #00000030;
                box-shadow: inset 0px 0px 5px #33333360;
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                color: $white;
            }
        }
        &.primary{
            background-color: $white;
            color: $black;
            &:hover{
                background-color: #00000030;
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                color: $white;
            }
        }
        &.cta{
            border-color: $black;
            background-color: $black;
            color: $white;
            &:hover{
                color: #FFFFFF;
            }
        }
        &-price{
            font-size: 16px;
            color: $black;
            font-weight: 600;
        }
    }
}

.skeleton-image{
    display: flex;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    .ant-skeleton-image{
        width: 100% !important;
        height: 100% !important;
    }
}